<a href="https://colab.research.google.com/github/kittyofheaven/machine-learning-helper/blob/main/Machine_Learning_Helper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Learning Helper
by kittyofheaven aka hazel handrata

In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf

# Tensorflow basic

In [ ]:
a =tf.Variable([0,0,0]) # making variable from tensor or vector
a = tf.constant([0,0,0]) # making constant from tensor or vector
a.ndim # check tensor rank
a.shape # check tensor shape
tf.size(a) # check tensor size
a.dtype # checking tensor data type
a = tf.cast(a, dtype=tf.int16) # changing datatype

tf.random.set_seed(42) # to set random global seed
random_tf = tf.random.uniform(shape=[5,300], minval=0, maxval=1) # min & max value determine minimum & maximum value the tf random will have

not_shuffled = tf.constant([[11,12,],
                            [1,3,],
                            [4,5,],])
shuffled = tf.random.shuffle(not_shuffled) # to shuffle a tensor

A = tf.zeros(shape=(2,3,4)) # make value = 1 for all value in tensor
B = tf.ones(shape=(2,3,4,5)) # make value = 0 for all value in tensor

some_tensor = tf.constant([[[0,0,0,0]]]) # shape = [1,1,4]
some_tensor_squeezed = tf.squeeze(some_tensor) # shape = [4], so tf.squeeze is deleting all 1 shape dimension
some_tensor_squeezed.shape

some_list = [0,1,2,3] #for R G B W
A = tf.one_hot(some_list, depth=4) #depth is basicly if 3 then 3x3 if it 4 then 4x4 matrix
B = tf.one_hot(some_list, depth=5, on_value='on', off_value='off') # tf one hot encode to make a matrix 0 (off_matrix) and 1 (on_matrix)

# get the minimum, maximum, mean, sum of a tensor
X = tf.constant(np.random.randint(0,100, size=50))
Y = tf.random.normal(shape=(50,))
print(tf.reduce_min(X)) # get the minimum X
print(tf.reduce_max(X)) # get the maximum X
print(tf.reduce_min(Y)) # get the minimum Y
print(tf.reduce_max(Y)) # get the maximum Y
print('\nMEAN \n',tf.reduce_mean(X), tf.reduce_mean(Y)) # get the mean
print('\nSUM \n',tf.reduce_sum(X), tf.reduce_sum(Y)) # get the sum

# Pandas basic

In [6]:
# df = pd.read_csv("your_csv_file.csv") # to read csv data and convert it into pd data frame
df = pd.DataFrame({'key_1':["list", "of", "ur ", "data"],'key_2': ["list", "of", "ur ", "data"], 'Key_3':'this is column'}) # making pd dataframe
df = pd.Series([1, 2, 3, 4, 5]) # making pd series 
df = pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A') # making pd series with index
df.head() # displaying top 5 data (they call it head)


# Indexing
df = pd.DataFrame({'key_1':["list", "of", "ur ", "data"],'key_2': ["list", "of", "ur ", "data"], 'Key_3':'this is column'}) 
target = df["key_1"][2] # this use a key to list a column & use index to find the target on the column
target1 = df.loc[:5, 'key_1'] # this use a index to list a row & use key to find the target on the row
target2 = df.loc[1, "key_2"] # this use a index to list a row & use index to find the target on the row
target2 = df.iloc[1,1] # this use a index to list a row & use index to find the target on the row
target, target1, target2

('ur ', 0    list
 1      of
 2     ur
 3    data
 Name: key_1, dtype: object, 'of')

# Importing Datasets

In [ ]:
!wget https://your-zip-link.zip

## if u're using kaggle to download datasets

In [ ]:
!pip install -q kaggle

from google.colab import files #import kaggle.json
files.upload() # upload your kaggle json here, u can get it from your kaggle profile

!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/

!chmod 600 ~/.kaggle/kaggle.json

!kaggle datasets list
!kaggle datasets download -d alxmamaev/flowers-recognition # download the datasets here

## now import the helper function 
you can get the helper function at the repo where you found this notebook, or you can go to https://github.com/mrdbourke/tensorflow-deep-learning/tree/main/extras this link

In [ ]:
!wget https://raw.githubusercontent.com/kittyofheaven/machine-learning-helper/main/helper_functions.py #dont forget to use the raw one

--2021-12-16 09:36:02--  https://raw.githubusercontent.com/kittyofheaven/machine-learning-helper/main/helper_functions.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11325 (11K) [text/plain]
Saving to: ‘helper_functions.py’

helper_functions.py 100%[===================>]  11.06K  --.-KB/s    in 0s

2021-12-16 09:36:02 (68.5 MB/s) - ‘helper_functions.py’ saved [11325/11325]

### now import the functon u wanna use

In [ ]:
from helper_functions import unzip_data, create_tensorboard_callback, plot_loss_curves, compare_historys
# u can read the docs in the source code

## unzip the datasets

In [ ]:
unzip_data("your_zip_file.zip")

# Visualizing your data

In [7]:
df = pd.DataFrame({'key_1':["list", "of", "ur ", "data"],'key_2': ["list", "of", "ur ", "data"], 'Key_3':'this is column'})
df

  key_1 key_2           Key_3
0  list  list  this is column
1    of    of  this is column
2   ur    ur   this is column
3  data  data  this is column

In [8]:
df.key_1.value_counts() # to check is the data balance or not

data    1
of      1
list    1
ur      1
Name: key_1, dtype: int64

if you think your data is not balanced u can use this article https://www.tensorflow.org/tutorials/structured_data/imbalanced_data

# Preparing datasets

## shufling data

In [ ]:
df_shuffled = df.sample(frac=1, random_state=42) #frac = 1 mean 100%, klo 0.1 ya 10% berarti
df_shuffled

  key_1 key_2           Key_3
1    of    of  this is column
3  data  data  this is column
0  list  list  this is column
2   ur    ur   this is column

## managing data with pandas

In [ ]:
X = df_shuffled['key_1'] # this use index to list a column
X1 = df_shuffled.loc[0] # this use index to list a row
X, X1

(1      of
 3    data
 0    list
 2     ur
 Name: key_1, dtype: object, key_1              list
 key_2              list
 Key_3    this is column
 Name: 0, dtype: object)

In [ ]:
target = df_shuffled["key_1"][2] # this use a key to list a column & use index to find the target on the column
target1 = df_shuffled.loc[0]['key_1'] # this use a index to list a row & use key to find the target on the row
target2 = df_shuffled.loc[1][1] # this use a index to list a row & use index to find the target on the row
target2 = df_shuffled.iloc[1][1] # this use a index to list a row & use index to find the target on the row
target, target1, target2

"""
difference between loc and iloc is:
loc is a label based u can use a string key or a label to find target
meanwhile iloc u only can use a index number to find ur target 
"""

('ur ', 'list', 'data')

In [ ]:
# now lets prepare the X, y
X = df_shuffled['key_1']
y = df_shuffled['key_2']
X,y

(1      of
 3    data
 0    list
 2     ur
 Name: key_1, dtype: object, 1      of
 3    data
 0    list
 2     ur
 Name: key_2, dtype: object)

## train & test data split

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
  X, y, test_size=0.2, random_state=42 #0.2 = 20% so its 80% train 20% test
)
X_train, X_test, y_train, y_test

(2     ur
 1      of
 0    list
 Name: key_1, dtype: object, 3    data
 Name: key_1, dtype: object, 2     ur
 1      of
 0    list
 Name: key_2, dtype: object, 3    data
 Name: key_2, dtype: object)